Aci.X.IwsLib/Service References/Commerce.v2_1.Fulfillment/fulfill.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.intelius.com/commerce/2.1/wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://api.intelius.com/commerce/2.1/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="https://api.intelius.com/commerce/2.1/wsdl">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="ClientAuthType">
        <xsd:all>
          <xsd:element name="ClientID" type="xsd:string" />
          <xsd:element name="AuthID" type="xsd:string" />
          <xsd:element name="AuthKey" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserContextType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="UserToken" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Name">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="FirstName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LastName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FullName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Suffix" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prefix" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Address">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetPreDirection" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetPostDirection" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetSuffix" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UnitNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetAddress1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Zip5" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Zip4" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PostalCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FirstSeenDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LastSeenDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Latitude" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Longitude" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LatLonPrecision" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAlias">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Alias" type="tns:Name" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Address" type="tns:Address" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Phone">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exchange" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FullPhoneNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FormattedNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Carrier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TimeZone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ConnectionType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Latitude" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Longitude" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NameOnPhone" type="tns:Name" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPhone">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Phone" type="tns:Phone" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEmailAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="EmailAddress" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDOB">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DOB" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAge">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Age" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPicture">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Picture" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PhysicalCharacteristics">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Gender" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Height" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Weight" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HairColor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EyeColor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Race" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ethnicity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SkinColor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PhysicalBuild" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BloodType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BodyMarks" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Person">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SSN" type="xsd:string" />
          <xsd:element name="Aliases" type="tns:ArrayOfAlias" />
          <xsd:element name="Addresses" type="tns:ArrayOfAddress" />
          <xsd:element name="Phones" type="tns:ArrayOfPhone" />
          <xsd:element name="EmailAddresses" type="tns:ArrayOfEmailAddress" />
          <xsd:element name="DOBs" type="tns:ArrayOfDOB" />
          <xsd:element name="Ages" type="tns:ArrayOfAge" />
          <xsd:element name="Pictures" type="tns:ArrayOfPicture" />
          <xsd:element name="PhysicalCharacteristics" type="tns:PhysicalCharacteristics" />
          <xsd:element name="Relatives" type="tns:ArrayOfRelative" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfRelative">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Relative" type="tns:Person" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Option">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfOption">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Option" type="tns:Option" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchOption">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="ScreenName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PaidReport" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PCS" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MultipleAddress" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ExampleMode" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StartIndex" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LimitRecords" type="xsd:int" />
          <xsd:element name="Options" type="tns:ArrayOfOption" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ComplexSearchCriteria">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfileID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Person" type="tns:Person" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone" type="tns:Phone" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecordID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SearchOption" type="tns:SearchOption" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CompletionResponseType">
        <xsd:all>
          <xsd:element name="CompletionCode" type="xsd:string" />
          <xsd:element name="ResponseMessage" type="xsd:string" />
          <xsd:element name="ResponseDetail" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ReportType">
        <xsd:all>
          <xsd:element name="ReportID" type="xsd:int" />
          <xsd:element name="OrderID" type="xsd:int" />
          <xsd:element name="OrderItemID" type="xsd:int" />
          <xsd:element name="ReportTypeID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ReportDate" type="xsd:dateTime" />
          <xsd:element name="Status" type="xsd:string" />
          <xsd:element name="SearchCriteria" type="tns:ComplexSearchCriteria" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfReport">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Report" type="tns:ReportType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DebitOrderRequestType">
        <xsd:all>
          <xsd:element form="qualified" name="ClientAuth" type="tns:ClientAuthType" />
          <xsd:element form="qualified" name="UserContext" type="tns:UserContextType" />
          <xsd:element form="qualified" name="OrderID" type="xsd:int" />
          <xsd:element form="qualified" name="OrderItemID" type="xsd:int" />
          <xsd:element form="qualified" name="ComplexSearchCriteria" type="tns:ComplexSearchCriteria" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DebitOrderResponseType">
        <xsd:all>
          <xsd:element form="qualified" name="RequestReferenceID" type="xsd:string" />
          <xsd:element form="qualified" name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element form="qualified" name="Reports" type="tns:ArrayOfReport" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAdditionalInfo">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AdditionalInfo" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Charge">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WarrantNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WarrantDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WarrantDesc" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WarrantIssueDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WarrantIssuingAgency" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="WarrantStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CitationNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BookingNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BookingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ArrestDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ArrestingAgency" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CustodyDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CustodyLocation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="InitialCharge" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="InitialChargeDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="InitialChargeCancelledDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ChargeDisposed" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ChargeDisposedDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ChargeSeverity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ChargeDisposition" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AmendedCharge" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AmendedChargeDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bondsman" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BondAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BondType" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCharge">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Charge" type="tns:Charge" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Offense">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseTitle" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseStatusDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseComments" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseInfo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FiledDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DocketNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseDesc" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseDegree" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseClass" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseLocation" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseCount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FinalOffense" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FinalOffenseDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DispositionStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DispositionStatusDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Disposition" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DispositionDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="VictimUnder18" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PriorOffenseFlag" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="InitialPlea" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="InitialPleaDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FinalRuling" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FinalRulingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AppealStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AppealDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FineAmount" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CourtName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CourtFee" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CourtDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Restitution" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TrialType" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfOffense">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Offense" type="tns:Offense" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Prior">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseDesc" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseDegree" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OffenseClass" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Disposition" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DispositionDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceBeginDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceEndDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMaxYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMaxMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMaxDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMinYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMinMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMinDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ScheduledReleaseDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ActualReleaseDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CommunitySupervisionCounty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CommunitySupervisionYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CommunitySupervisionMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CommunitySupervisionDays" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPrior">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Prior" type="tns:Prior" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Sentence">
        <xsd:all>
          <xsd:element name="CaseID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceBeginDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceEndDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMaxYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMaxMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMaxDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMinYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMinMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceMinDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SentenceAdditionalInfo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ScheduledReleaseDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ActualReleaseDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TimeServedYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TimeServedMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TimeServedDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PublicServiceHours" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CommunitySupervisionCounty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CommunitySupervisionYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CommunitySupervisionMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CommunitySupervisionDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleBeginDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleEndDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleEligibilityDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleHearingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleMaxYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleMaxMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleMaxDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleMinYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleMinMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleMinDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleStatus" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleOfficer" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParoleOfficerPhone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProbationBeginDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProbationEndDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProbationMaxYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProbationMaxMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProbationMaxDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProbationMinYears" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProbationMinMonths" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProbationMinDays" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProbationStatus" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfSentence">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Sentence" type="tns:Sentence" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CriminalOther">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Attorney" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AttorneyAddress" type="tns:Address" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AttorneyPhone" type="tns:Phone" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AttorneyType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Judge" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Officer" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OfficerNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NextKin" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NextKinAddress" type="tns:Address" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NextKinPhone" type="tns:Phone" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NextKinType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MilitaryDischargeFlag" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MilitaryDischargeDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MilitaryBranch" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfOthers">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Other" type="tns:CriminalOther" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Criminal">
        <xsd:all>
          <xsd:element name="RecordID" type="xsd:string" />
          <xsd:element name="SourceName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SourceType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecordType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecordUploadDate" type="xsd:date" />
          <xsd:element name="StateCode" type="xsd:string" />
          <xsd:element name="DefendantAdditionalInfo" type="tns:ArrayOfAdditionalInfo" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SexOffenderRegistryNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SexOffenderRegistryDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SexOffenderRegExpirationDate" type="xsd:date" />
          <xsd:element name="Type" type="xsd:string" />
          <xsd:element name="Defendant" type="tns:Person" />
          <xsd:element name="Charges" type="tns:ArrayOfCharge" />
          <xsd:element name="Offenses" type="tns:ArrayOfOffense" />
          <xsd:element name="Priors" type="tns:ArrayOfPrior" />
          <xsd:element name="Sentences" type="tns:ArrayOfSentence" />
          <xsd:element name="Others" type="tns:ArrayOfOthers" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCriminal">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Criminal" type="tns:Criminal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CriminalReport">
        <xsd:all>
          <xsd:element name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element name="CriminalResponse" type="tns:ArrayOfCriminal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SexOffenderReport">
        <xsd:all>
          <xsd:element name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element name="CriminalResponse" type="tns:ArrayOfCriminal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="WhitePage">
        <xsd:all>
          <xsd:element name="Name" type="tns:Name" />
          <xsd:element name="Address" type="tns:Address" />
          <xsd:element name="Phone" type="tns:Phone" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWhitePage">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="WhitePage" type="tns:WhitePage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="WhitePageReport">
        <xsd:all>
          <xsd:element name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element name="ExactMatchList" type="tns:ArrayOfWhitePage" />
          <xsd:element name="PossibleMatchList" type="tns:ArrayOfWhitePage" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DeathRecord">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="DeathDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BirthDate" type="xsd:date" />
          <xsd:element name="Person" type="tns:Person" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDeathRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DeathRecord" type="tns:DeathRecord" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeathRecordReport">
        <xsd:all>
          <xsd:element name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element name="DeathRecordResponse" type="tns:ArrayOfDeathRecord" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="BLJ">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Defendant" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CaseNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FilingType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EntityType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FilingDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ReleaseDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AmountLiability" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DefendantAddress" type="tns:Address" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Schedule341Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SSNTaxId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SSNVerifier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ResidentsCounty" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Plaintiff" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Attorney" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AttorneyPhone" type="tns:Phone" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AttorneyAddress" type="tns:Address" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AssetsAvailable" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OtherCaseNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OriginalCaseNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OriginalDepartment" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CourtCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CourtName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CourtAddress" type="tns:Address" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CourtPhone" type="tns:Phone" />
          <xsd:element minOccurs="0" maxOccurs="1" name="JudgesInitials" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BankruptcyDismissal" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UnlawfulDetainer" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AssociationCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="GenerationCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ActionType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Book" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Page" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OriginalBook" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OriginalPage" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CivilScore" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCivilRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="CivilRecord" type="tns:BLJ" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CivilReport">
        <xsd:all>
          <xsd:element name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element name="CivilReportResponse" type="tns:ArrayOfCivilRecord" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CoordinateType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Latitude" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Longitude" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="AddressType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="AddressID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UnitNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Zip" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Connected" type="xsd:string" />
          <xsd:element name="Coordinates" type="tns:CoordinateType" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfOwner">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Owner" type="tns:Name" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PropertySale">
        <xsd:all>
          <xsd:element name="Owners" type="tns:ArrayOfOwner" />
          <xsd:element name="DocumentNumberID" type="xsd:string" />
          <xsd:element name="RecordingDate" type="xsd:string" />
          <xsd:element name="SalesDate" type="xsd:string" />
          <xsd:element name="SalePrice" type="xsd:decimal" />
          <xsd:element name="MortgageAmount" type="xsd:decimal" />
          <xsd:element name="MortgageTerms" type="xsd:string" />
          <xsd:element name="MortgageType" type="xsd:string" />
          <xsd:element name="LenderName" type="xsd:string" />
          <xsd:element name="DeedTypeDescription" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPropertySale">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PropertySale" type="tns:PropertySale" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfNeighbor">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Neighbor" type="tns:Person" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfResident">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Resident" type="tns:Person" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PropertyType">
        <xsd:all>
          <xsd:element name="PropertyAddress" type="tns:AddressType" />
          <xsd:element name="Owners" type="tns:ArrayOfOwner" />
          <xsd:element name="OwnerMailingAddress" type="tns:AddressType" />
          <xsd:element name="ImprovementValue" type="xsd:decimal" />
          <xsd:element name="LandValue" type="xsd:decimal" />
          <xsd:element name="TotalValue" type="xsd:decimal" />
          <xsd:element name="TaxAmount" type="xsd:decimal" />
          <xsd:element name="TaxYear" type="xsd:int" />
          <xsd:element name="Acres" type="xsd:decimal" />
          <xsd:element name="SquareFootage" type="xsd:decimal" />
          <xsd:element name="Bedrooms" type="xsd:int" />
          <xsd:element name="BathRooms" type="xsd:int" />
          <xsd:element name="YearBuilt" type="xsd:int" />
          <xsd:element name="LivingSquareFootage" type="xsd:decimal" />
          <xsd:element name="Quality" type="xsd:string" />
          <xsd:element name="GarageSquareFootage" type="xsd:decimal" />
          <xsd:element name="Garage" type="xsd:string" />
          <xsd:element name="NumberOfBuildings" type="xsd:int" />
          <xsd:element name="Condition" type="xsd:string" />
          <xsd:element name="BasementSquareFootage" type="xsd:decimal" />
          <xsd:element name="Sewer" type="xsd:string" />
          <xsd:element name="Heating" type="xsd:string" />
          <xsd:element name="BuildingCode" type="xsd:string" />
          <xsd:element name="Water" type="xsd:string" />
          <xsd:element name="FirePlace" type="xsd:string" />
          <xsd:element name="CarrierCode" type="xsd:string" />
          <xsd:element name="CensusTract" type="xsd:string" />
          <xsd:element name="LegalDescription" type="xsd:string" />
          <xsd:element name="County" type="xsd:string" />
          <xsd:element name="ThomasBrosMapNumber" type="xsd:string" />
          <xsd:element name="Zoning" type="xsd:string" />
          <xsd:element name="SubDivisionName" type="xsd:string" />
          <xsd:element name="Latitude" type="xsd:decimal" />
          <xsd:element name="Longitude" type="xsd:decimal" />
          <xsd:element name="SubDivisionPlatBook" type="xsd:decimal" />
          <xsd:element name="SubDivisionPlatPage" type="xsd:decimal" />
          <xsd:element name="APNUnformatted" type="xsd:string" />
          <xsd:element name="SalesHistory" type="tns:ArrayOfPropertySale" />
          <xsd:element name="Neighbors" type="tns:ArrayOfNeighbor" />
          <xsd:element name="Residents" type="tns:ArrayOfResident" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPropertyReport">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PropertyReport" type="tns:PropertyType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PropertyReport">
        <xsd:all>
          <xsd:element name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element name="PropertyReportResponse" type="tns:ArrayOfPropertyReport" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="LocationType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MarriageDivorceRecord">
        <xsd:all>
          <xsd:element name="Type" type="xsd:string" />
          <xsd:element name="Party1Name" type="tns:Name" />
          <xsd:element name="Party1Age" type="xsd:int" />
          <xsd:element name="Party2Name" type="tns:Name" />
          <xsd:element name="Party2Age" type="xsd:int" />
          <xsd:element name="Date" type="xsd:date" />
          <xsd:element name="Location" type="tns:LocationType" />
          <xsd:element name="FileNumber" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMarriageDivorceRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="MarriageDivorceRecord" type="tns:MarriageDivorceRecord" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MarriageDivorceReport">
        <xsd:all>
          <xsd:element name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element name="MarriageDivorceReportResponse" type="tns:ArrayOfMarriageDivorceRecord" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="BackgroundType">
        <xsd:all>
          <xsd:element name="Person" type="tns:Person" />
          <xsd:element name="CriminalReport" type="tns:CriminalReport" />
          <xsd:element name="SexOffenderReport" type="tns:SexOffenderReport" />
          <xsd:element name="WhitePageReport" type="tns:WhitePageReport" />
          <xsd:element name="DeathReport" type="tns:DeathRecordReport" />
          <xsd:element name="CivilReport" type="tns:CivilReport" />
          <xsd:element name="PropertyReport" type="tns:PropertyReport" />
          <xsd:element name="MarriageDivorceReport" type="tns:MarriageDivorceReport" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetReportRequestType">
        <xsd:all>
          <xsd:element form="qualified" name="ClientAuth" type="tns:ClientAuthType" />
          <xsd:element form="qualified" name="UserContext" type="tns:UserContextType" />
          <xsd:element form="qualified" name="ReportID" type="xsd:int" />
          <xsd:element minOccurs="0" form="qualified" name="ReportComponents" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetReportResponseType">
        <xsd:all>
          <xsd:element form="qualified" name="RequestReferenceID" type="xsd:string" />
          <xsd:element form="qualified" name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element form="qualified" name="Report" type="tns:ReportType" />
          <xsd:element form="qualified" name="UberReport" type="tns:BackgroundType" />
        </xsd:all>
      </xsd:complexType>
      <xsd:element name="DebitOrder" type="tns:DebitOrderRequestType" />
      <xsd:element name="DebitOrderResponse" type="tns:DebitOrderResponseType" />
      <xsd:element name="GetReport" type="tns:GetReportRequestType" />
      <xsd:element name="GetReportResponse" type="tns:GetReportResponseType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="DebitOrderRequest">
    <wsdl:part name="parameters" element="tns:DebitOrder" />
  </wsdl:message>
  <wsdl:message name="DebitOrderResponse">
    <wsdl:part name="parameters" element="tns:DebitOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportRequest">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="GetReportResponse">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:portType name="FulfillmentServicesPortType">
    <wsdl:operation name="DebitOrder">
      <documentation>Validates a Transaction Order bundle and returns a encrypted serialized bundle hash on success</documentation>
      <wsdl:input message="tns:DebitOrderRequest" />
      <wsdl:output message="tns:DebitOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <documentation>Gets uber Report data</documentation>
      <wsdl:input message="tns:GetReportRequest" />
      <wsdl:output message="tns:GetReportResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FulfillmentServicesBinding" type="tns:FulfillmentServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DebitOrder">
      <soap:operation soapAction="http://iwscommerce.intelius.com/commerce/2.1/fulfill.php/DebitOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap:operation soapAction="http://iwscommerce.intelius.com/commerce/2.1/fulfill.php/GetReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FulfillmentServices">
    <wsdl:port name="FulfillmentServicesPort" binding="tns:FulfillmentServicesBinding">
      <soap:address location="http://iwscommerce.intelius.com/commerce/2.1/fulfill.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>