Aci.X.IwsLib/Service References/Intelius.Iws.Commerce.v2_1/transaction.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://api.intelius.com/commerce/2.1/wsdl" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="https://api.intelius.com/commerce/2.1/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="https://api.intelius.com/commerce/2.1/wsdl">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="ClientAuthType">
        <xsd:all>
          <xsd:element name="ClientID" type="xsd:string" />
          <xsd:element name="AuthID" type="xsd:string" />
          <xsd:element name="AuthKey" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RequestContext">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="EndUserIpAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AccountList" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="RequestReferenceType">
        <xsd:all>
          <xsd:element name="RequestReferenceID" type="xsd:string" />
          <xsd:element name="AgreedEULA" type="xsd:string" />
          <xsd:element name="ChannelID" type="xsd:string" />
          <xsd:element name="AffiliateID" type="xsd:string" />
          <xsd:element name="TxnReferenceID" type="xsd:string" />
          <xsd:element name="Version" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="UserContextType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="UserToken" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ChannelType">
        <xsd:all>
          <xsd:element name="ChannelID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ChannelAdWord" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AffiliateReferenceID" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CompletionResponseType">
        <xsd:all>
          <xsd:element name="CompletionCode" type="xsd:string" />
          <xsd:element name="ResponseMessage" type="xsd:string" />
          <xsd:element name="ResponseDetail" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ResultCodes">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Code" type="tns:EnumerationOfCode" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TransactionResult">
        <xsd:all>
          <xsd:element name="isSuccess" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ResultString" type="xsd:string" />
          <xsd:element name="ResultCodes" type="tns:ResultCodes" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SessionType">
        <xsd:all>
          <xsd:element name="RemoteIP" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserAgent" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SessionReference" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="OrderItemDiscountDetailType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="PricingCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Discount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PurchaseSubText" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDiscount">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DiscountDetail" type="tns:OrderItemDiscountDetailType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PeriodType">
        <xsd:all>
          <xsd:element name="PeriodID" type="xsd:int" />
          <xsd:element name="ServiceGroupID" type="xsd:int" />
          <xsd:element name="StartDate" type="xsd:dateTime" />
          <xsd:element name="EndDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PreviousPeriodID" type="xsd:string" />
          <xsd:element name="StatusCode" type="xsd:string" />
          <xsd:element name="Status" type="xsd:string" />
          <xsd:element name="Trial" type="xsd:string" />
          <xsd:element name="PeriodOrderID" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPeriod">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Period" type="tns:PeriodType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SubcriptionType">
        <xsd:all>
          <xsd:element name="SubscriptionID" type="xsd:int" />
          <xsd:element name="ServiceID" type="xsd:int" />
          <xsd:element name="UserID" type="xsd:int" />
          <xsd:element name="SubscriptionName" type="xsd:string" />
          <xsd:element name="EnrollmentDate" type="xsd:dateTime" />
          <xsd:element name="Status" type="xsd:string" />
          <xsd:element name="StatusCode" type="xsd:string" />
          <xsd:element name="StatusChangeDate" type="xsd:dateTime" />
          <xsd:element name="Periods" type="tns:ArrayOfPeriod" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="OrderItemType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="OrderID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OrderItemID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OrderItemDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProductID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParentReferenceID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProductTitle" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MSRPPrice" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Price" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TaxAmount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UnitsSold" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OrderItemIDActive" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParentOrderItemID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OriginalOrderItemID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OriginalOrderID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DeliveryStartDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DeliveryEndDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProductReferenceID" type="xsd:string" />
          <xsd:element name="Discounts" type="tns:ArrayOfDiscount" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Subscription" type="tns:SubcriptionType" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfOrderItem">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OrderItem" type="tns:OrderItemType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PaymentType">
        <xsd:all>
          <xsd:element name="PaymentType" type="xsd:string" />
          <xsd:element name="PaymentID" type="xsd:int" />
          <xsd:element name="PaymentDate" type="xsd:date" />
          <xsd:element name="Status" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PaymentReferenceText" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ProcessorResponseText" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPayments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Payment" type="tns:PaymentType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Name">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="FirstName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LastName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MiddleName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FullName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Suffix" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prefix" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Address">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetPreDirection" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetPostDirection" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetSuffix" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UnitNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetAddress1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StreetAddress2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="City" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="State" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Country" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Zip5" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Zip4" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PostalCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FirstSeenDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LastSeenDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Latitude" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Longitude" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LatLonPrecision" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAlias">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Alias" type="tns:Name" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Address" type="tns:Address" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Phone">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="CountryCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="AreaCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="County" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Exchange" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FullPhoneNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="FormattedNumber" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Carrier" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TimeZone" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ConnectionType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Latitude" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Longitude" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="NameOnPhone" type="tns:Name" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPhone">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Phone" type="tns:Phone" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfEmailAddress">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="EmailAddress" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDOB">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="DOB" type="xsd:date" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAge">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Age" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfPicture">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Picture" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PhysicalCharacteristics">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Gender" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Height" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Weight" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="HairColor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EyeColor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Race" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ethnicity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SkinColor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PhysicalBuild" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BloodType" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="BodyMarks" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Person">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SSN" type="xsd:string" />
          <xsd:element name="Aliases" type="tns:ArrayOfAlias" />
          <xsd:element name="Addresses" type="tns:ArrayOfAddress" />
          <xsd:element name="Phones" type="tns:ArrayOfPhone" />
          <xsd:element name="EmailAddresses" type="tns:ArrayOfEmailAddress" />
          <xsd:element name="DOBs" type="tns:ArrayOfDOB" />
          <xsd:element name="Ages" type="tns:ArrayOfAge" />
          <xsd:element name="Pictures" type="tns:ArrayOfPicture" />
          <xsd:element name="PhysicalCharacteristics" type="tns:PhysicalCharacteristics" />
          <xsd:element name="Relatives" type="tns:ArrayOfRelative" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfRelative">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Relative" type="tns:Person" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Option">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Value" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfOption">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Option" type="tns:Option" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchOption">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="ScreenName" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PaidReport" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="PCS" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MultipleAddress" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ExampleMode" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StartIndex" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LimitRecords" type="xsd:int" />
          <xsd:element name="Options" type="tns:ArrayOfOption" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ComplexSearchCriteria">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="ProfileID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Name" type="tns:Name" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Address" type="tns:Address" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Person" type="tns:Person" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Phone" type="tns:Phone" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DateOfBirth" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RecordID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="SearchOption" type="tns:SearchOption" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ReportType">
        <xsd:all>
          <xsd:element name="ReportID" type="xsd:int" />
          <xsd:element name="OrderID" type="xsd:int" />
          <xsd:element name="OrderItemID" type="xsd:int" />
          <xsd:element name="ReportTypeID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ReportDate" type="xsd:dateTime" />
          <xsd:element name="Status" type="xsd:string" />
          <xsd:element name="SearchCriteria" type="tns:ComplexSearchCriteria" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfReports">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Report" type="tns:ReportType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OrderType">
        <xsd:all>
          <xsd:element name="OrderID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OrderDate" type="xsd:date" />
          <xsd:element name="UserID" type="xsd:int" />
          <xsd:element name="Channel" type="tns:ChannelType" />
          <xsd:element name="NetPrice" type="xsd:decimal" />
          <xsd:element name="Session" type="tns:SessionType" />
          <xsd:element name="OrderItems" type="tns:ArrayOfOrderItem" />
          <xsd:element name="Payments" type="tns:ArrayOfPayments" />
          <xsd:element name="Reports" type="tns:ArrayOfReports" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CreateOrderRequestType">
        <xsd:all>
          <xsd:element form="qualified" name="ClientAuth" type="tns:ClientAuthType" />
          <xsd:element minOccurs="0" form="qualified" name="RequestContext" type="tns:RequestContext" />
          <xsd:element minOccurs="0" form="qualified" name="RequestReference" type="tns:RequestReferenceType" />
          <xsd:element form="qualified" name="UserContext" type="tns:UserContextType" />
          <xsd:element form="qualified" name="Channel" type="tns:ChannelType" />
          <xsd:element form="qualified" name="OrderHash" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="CreateOrderResponseType">
        <xsd:all>
          <xsd:element form="qualified" name="RequestReferenceID" type="xsd:string" />
          <xsd:element form="qualified" name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element form="qualified" name="TransactionResult" type="tns:TransactionResult" />
          <xsd:element form="qualified" name="Order" type="tns:OrderType" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Addon">
        <xsd:all>
          <xsd:element name="PackageID" type="xsd:int" />
          <xsd:element name="ReportTypeID" type="xsd:int" />
          <xsd:element name="ReportTypeName" type="xsd:string" />
          <xsd:element name="Title" type="xsd:string" />
          <xsd:element name="ShortTitle" type="xsd:string" />
          <xsd:element name="ReportComponentID" type="xsd:string" />
          <xsd:element name="ReportComponentName" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfAddons">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Addon" type="tns:Addon" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Credit">
        <xsd:all>
          <xsd:element name="PackageID" type="xsd:int" />
          <xsd:element name="ReportTypeID" type="xsd:int" />
          <xsd:element name="ReportTypeName" type="xsd:string" />
          <xsd:element name="Title" type="xsd:string" />
          <xsd:element name="ShortTitle" type="xsd:string" />
          <xsd:element name="ReportComponentID" type="xsd:string" />
          <xsd:element name="ReportComponentName" type="xsd:string" />
          <xsd:element name="Units" type="xsd:int" />
          <xsd:element name="UserID" type="xsd:int" />
          <xsd:element name="TxnID" type="xsd:int" />
          <xsd:element name="PurchaseID" type="xsd:int" />
          <xsd:element name="UnitsUsed" type="xsd:int" />
          <xsd:element name="UnitsLeft" type="xsd:int" />
          <xsd:element name="StartDate" type="xsd:dateTime" />
          <xsd:element name="EndDate" type="xsd:dateTime" />
          <xsd:element name="Addons" type="tns:ArrayOfAddons" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfCredits">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Credit" type="tns:Credit" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetCreditsRequestType">
        <xsd:all>
          <xsd:element form="qualified" name="ClientAuth" type="tns:ClientAuthType" />
          <xsd:element form="qualified" name="UserID" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetCreditsResponseType">
        <xsd:all>
          <xsd:element form="qualified" name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element form="qualified" name="Credits" type="tns:ArrayOfCredits" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetOrderDetailRequestType">
        <xsd:all>
          <xsd:element form="qualified" name="ClientAuth" type="tns:ClientAuthType" />
          <xsd:element form="qualified" name="UserContext" type="tns:UserContextType" />
          <xsd:element form="qualified" name="OrderID" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetOrderDetailResponseType">
        <xsd:all>
          <xsd:element form="qualified" name="RequestReferenceID" type="xsd:string" />
          <xsd:element form="qualified" name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element form="qualified" name="Order" type="tns:OrderType" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfOrder">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Order" type="tns:OrderType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="GetPurchaseHistoryRequestType">
        <xsd:all>
          <xsd:element form="qualified" name="ClientAuth" type="tns:ClientAuthType" />
          <xsd:element form="qualified" name="UserContext" type="tns:UserContextType" />
          <xsd:element minOccurs="0" form="qualified" name="DateFrom" type="xsd:dateTime" />
          <xsd:element minOccurs="0" form="qualified" name="DateTo" type="xsd:dateTime" />
          <xsd:element form="qualified" name="StartIndex" type="xsd:int" />
          <xsd:element form="qualified" name="PageSize" type="xsd:int" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="GetPurchaseHistoryResponseType">
        <xsd:all>
          <xsd:element form="qualified" name="RequestReferenceID" type="xsd:string" />
          <xsd:element form="qualified" name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element form="qualified" name="OrderHistory" type="tns:ArrayOfOrder" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PurchaseContextType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="RemoteIP" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="UserAgent" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Language" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TimeZone" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ClientTime" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="OrderLocation" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="DiscountType">
        <xsd:all>
          <xsd:element name="Text" type="xsd:string" />
          <xsd:element name="Price" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PurchaseItemType">
        <xsd:all>
          <xsd:element minOccurs="0" maxOccurs="1" name="ProductID" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ReferenceID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ParentReferenceID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortTitle" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Duration" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Discount" type="tns:DiscountType" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="PurchaseItemListType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PurchaseItem" type="tns:PurchaseItemType" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AnonymousType_0001">
        <xsd:all>
          <xsd:element name="Subtotal" type="xsd:decimal" />
          <xsd:element name="TotalTax" type="xsd:decimal" />
          <xsd:element name="TotalAmount" type="xsd:decimal" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ValidateOrderRequestType">
        <xsd:all>
          <xsd:element form="qualified" name="ClientAuth" type="tns:ClientAuthType" />
          <xsd:element minOccurs="0" form="qualified" name="RequestContext" type="tns:RequestContext" />
          <xsd:element form="qualified" name="UserContext" type="tns:UserContextType" />
          <xsd:element form="qualified" name="Channel" type="tns:ChannelType" />
          <xsd:element minOccurs="0" form="qualified" name="CVV" type="xsd:string" />
          <xsd:element form="qualified" name="PurchaseContext" type="tns:PurchaseContextType" />
          <xsd:element form="qualified" name="PurchaseItemList" type="tns:PurchaseItemListType" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ValidateOrderResponseType">
        <xsd:all>
          <xsd:element form="qualified" name="RequestReferenceID" type="xsd:string" />
          <xsd:element form="qualified" name="CompletionResponse" type="tns:CompletionResponseType" />
          <xsd:element form="qualified" name="OrderItems" type="tns:ArrayOfOrderItem" />
          <xsd:element form="qualified" name="OrderTotals" type="tns:AnonymousType_0001" />
          <xsd:element form="qualified" name="OrderHash" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:simpleType name="EnumerationOfCode">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="SUCCESS" />
          <xsd:enumeration value="GENERAL" />
          <xsd:enumeration value="CART_FAILURE" />
          <xsd:enumeration value="CART_EMPTY" />
          <xsd:enumeration value="NO_PAYMENT_METHOD" />
          <xsd:enumeration value="DECLINE" />
          <xsd:enumeration value="DECLINE_FRAUDSCORE_FAILURE_PRETRANSACT" />
          <xsd:enumeration value="DECLINE_FRAUDSCORE_FAILURE_POSTTRANSACT" />
          <xsd:enumeration value="DECLINE_INVALID_CC" />
          <xsd:enumeration value="DECLINE_CVV" />
          <xsd:enumeration value="DECLINE_EXPIRATION" />
          <xsd:enumeration value="DECLINE_INSUFFICIENT_FUNDS" />
          <xsd:enumeration value="DECLINE_ALREADYINSERVICE" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="CreateOrder" type="tns:CreateOrderRequestType" />
      <xsd:element name="CreateOrderResponse" type="tns:CreateOrderResponseType" />
      <xsd:element name="GetCredits" type="tns:GetCreditsRequestType" />
      <xsd:element name="GetCreditsResponse" type="tns:GetCreditsResponseType" />
      <xsd:element name="GetOrderDetail" type="tns:GetOrderDetailRequestType" />
      <xsd:element name="GetOrderDetailResponse" type="tns:GetOrderDetailResponseType" />
      <xsd:element name="GetPurchaseHistory" type="tns:GetPurchaseHistoryRequestType" />
      <xsd:element name="GetPurchaseHistoryResponse" type="tns:GetPurchaseHistoryResponseType" />
      <xsd:element name="ValidateOrder" type="tns:ValidateOrderRequestType" />
      <xsd:element name="ValidateOrderResponse" type="tns:ValidateOrderResponseType" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateOrderRequest">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="CreateOrderResponse">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetCreditsRequest">
    <wsdl:part name="parameters" element="tns:GetCredits" />
  </wsdl:message>
  <wsdl:message name="GetCreditsResponse">
    <wsdl:part name="parameters" element="tns:GetCreditsResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrderDetailRequest">
    <wsdl:part name="parameters" element="tns:GetOrderDetail" />
  </wsdl:message>
  <wsdl:message name="GetOrderDetailResponse">
    <wsdl:part name="parameters" element="tns:GetOrderDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetPurchaseHistoryRequest">
    <wsdl:part name="parameters" element="tns:GetPurchaseHistory" />
  </wsdl:message>
  <wsdl:message name="GetPurchaseHistoryResponse">
    <wsdl:part name="parameters" element="tns:GetPurchaseHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateOrderRequest">
    <wsdl:part name="parameters" element="tns:ValidateOrder" />
  </wsdl:message>
  <wsdl:message name="ValidateOrderResponse">
    <wsdl:part name="parameters" element="tns:ValidateOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="TransactionServicesPortType">
    <wsdl:operation name="CreateOrder">
      <documentation>Takes in a valid OrderHash (returned from validateorder operation), injects orders and on success returns valid order context</documentation>
      <wsdl:input message="tns:CreateOrderRequest" />
      <wsdl:output message="tns:CreateOrderResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetCredits">
      <documentation>Returns list of all active orders (with credits remaining) and services for a user</documentation>
      <wsdl:input message="tns:GetCreditsRequest" />
      <wsdl:output message="tns:GetCreditsResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetail">
      <documentation>Validates a Transaction Order bundle and returns a encrypted serialized bundle hash on success</documentation>
      <wsdl:input message="tns:GetOrderDetailRequest" />
      <wsdl:output message="tns:GetOrderDetailResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseHistory">
      <documentation>Return the purchase history of the user till date</documentation>
      <wsdl:input message="tns:GetPurchaseHistoryRequest" />
      <wsdl:output message="tns:GetPurchaseHistoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="ValidateOrder">
      <documentation>Validates a Transaction Order bundle and returns a encrypted serialized bundle hash on success. The purchase context remote IP has been deprecated.</documentation>
      <wsdl:input message="tns:ValidateOrderRequest" />
      <wsdl:output message="tns:ValidateOrderResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TransactionServicesBinding" type="tns:TransactionServicesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://iwscommerce.intelius.com/commerce/2.1/transaction.php/CreateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCredits">
      <soap:operation soapAction="http://iwscommerce.intelius.com/commerce/2.1/transaction.php/GetCredits" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderDetail">
      <soap:operation soapAction="http://iwscommerce.intelius.com/commerce/2.1/transaction.php/GetOrderDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseHistory">
      <soap:operation soapAction="http://iwscommerce.intelius.com/commerce/2.1/transaction.php/GetPurchaseHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateOrder">
      <soap:operation soapAction="http://iwscommerce.intelius.com/commerce/2.1/transaction.php/ValidateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="https://api.intelius.com/commerce/2.1/wsdl" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionServices">
    <wsdl:port name="TransactionServicesPort" binding="tns:TransactionServicesBinding">
      <soap:address location="http://iwscommerce.intelius.com/commerce/2.1/transaction.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>